Customer Support AI Agent _Outskill Day4.json
{
  "name": "Customer Support AI Agent _Outskill Day4",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "a1096588-0ffa-4f65-b09f-f685eac580a2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "utuiaevTGXVsu3uL",
          "name": "Gmail account 14"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e77f785e-8b7a-4fbc-833b-b5f4531baa37",
              "name": "emailBody",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "644fa259-b51b-49ee-95b6-95a68c3d9794",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "0bd1430a-36ff-4990-b532-6e50b4e857aa",
              "name": "from",
              "value": "={{ $json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -160
      ],
      "id": "be921721-d836-44d5-bb9e-565f8a366c47",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the content of the following email and determine whether it is related to customer support. If the email pertains to any of the following topics, mark customerSupport as true, otherwise marke it as false.\n\nCustomer Support topics include:\n\nQuestions about order status, tracking, or changes / refunds\nIssues with damaged or defective products\nRefund or return requests\nSubscription cancellations or adjustments\nTechnical issues with products, website or app\nPayment or billing inquiries\nRequests or billing with a support representatives",
              "role": "system"
            },
            {
              "content": "={{ $json.emailBody }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        448,
        -160
      ],
      "id": "8456563c-50cd-41fa-9d9a-a225cddb274f",
      "name": "Is Customer Support?",
      "credentials": {
        "openAiApi": {
          "id": "hey142d68z0MQSwP",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content}}",
                    "rightValue": "is true",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7e82a25b-4980-45ba-8ee4-f0db4e9ed169"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1249c679-d9d8-42d2-8f0d-cf835787bec5",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "is false",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Customer Support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        800,
        -160
      ],
      "id": "5f2b2937-9b1c-4ef2-8d73-fbd510eb7318",
      "name": "Check if CS?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        64
      ],
      "id": "c188bfc1-bda8-4436-b735-ff10a7c8b6e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hey142d68z0MQSwP",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.emailBody }}",
        "options": {
          "systemMessage": "Customer Support Agent Prompt\nRole and Purpose \nYou are a customer support agent for Sleepyowl,trained to handle customer requests, inquiries and concerns with professionals, empathy and efficiency"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1152,
        -176
      ],
      "id": "9c370066-3ca6-49ad-b88c-f4c1ac2b422c",
      "name": "Customer Support AI Agent"
    },
    {
      "parameters": {
        "description": "Retrieves information about our customer support policies and FAQs"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1216,
        64
      ],
      "id": "577faa14-1dd4-4f2d-8410-c671f39157dc",
      "name": "Vector Store Tool"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ecom-policy-doc",
          "mode": "list",
          "cachedResultName": "ecom-policy-doc"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1008,
        256
      ],
      "id": "fac1145b-68c2-49ad-be7e-08c3cb27c130",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "cWQTqWxzGKudBYSk",
          "name": "PineconeApi account 9"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        432
      ],
      "id": "8cf051dc-3480-4f7e-829f-8b26b2bcd9b2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hey142d68z0MQSwP",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1264,
        336
      ],
      "id": "964b4472-9130-4017-9232-d97c86bd1a04",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "hey142d68z0MQSwP",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "social",
          "mode": "name"
        },
        "text": "social",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1648,
        -160
      ],
      "id": "4f5fcf3c-b3dd-444b-8d68-74b8209b85b7",
      "name": "Send a message",
      "webhookId": "0e419dba-f374-4b11-88ed-72e1ded138a8",
      "credentials": {
        "slackApi": {
          "id": "1BtqpgVDfkPfm0aA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "threadId": "",
          "sendTo": ""
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1504,
        -16
      ],
      "id": "62177df5-c628-4626-8c68-a77fc757a0f4",
      "name": "Create a draft in Gmail",
      "webhookId": "c305030b-9266-43a3-8a9e-5bf1fe0e86f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "utuiaevTGXVsu3uL",
          "name": "Gmail account 14"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Is Customer Support?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Customer Support?": {
      "main": [
        [
          {
            "node": "Check if CS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if CS?": {
      "main": [
        [
          {
            "node": "Customer Support AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Support AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "Customer Support AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Customer Support AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ec0b409-ac29-446f-8bff-65eed4018edb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "342ef37867b7274f78856cf68d88765d8d8551c70b958a687c6b1500ca9d473c"
  },
  "id": "1ba5U0f7tyudSbes",
  "tags": []
}